{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for login in logins %}
            <tr>
                <td><a href="{{ path('login_show', { 'id': login.id }) }}">{{ login.id }}</a></td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('login_show', { 'id': login.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('login_edit', { 'id': login.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('login_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
